
nav {
    width: var(--content);
    height: var(--height100);
    margin: auto;
    display: flex;
    align-items: center;
}
#logo {
    color: var(--text-color);
    font-size: 150%;
    font-family: var(--font);

}
#nav-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
#nav-container .nav-items {
    list-style: none;
    padding:var(--header-nav-padding) 2em;
    transition: 0.2s;
    border-radius: 8px;
    position: relative;
    color: var(--text-color);
    font-family: var(--font);
    font-size: var(--font-size);
}
#nav-container .nav-items:hover .sub-nav{
    display: block;
}

#nav-container .nav-items >a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
}
#nav-container .nav-items:hover {
    background: darkgrey;
    color: black;
}
.sub-nav {
    margin-top: var(--header-nav-padding);
    border-radius: 4px;
    background: whitesmoke;
    position: absolute;
    left: 0;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0 , 0.5);
    transition: 0.8s;
}
.sub-items {
    list-style: none;
    padding: 0.5em 4em 0.5em 0.5em;
    font-family: var(--font);
    font-size: var(--font-size);
}
.sub-items:hover {
    background: darkgrey;
    border-radius: inherit;
}
.sub-nav .sub-items> a{
    color: black;
    text-decoration: none;
}
#search {
    width: 15em;
    height: 2em;
    background: whitesmoke;
    margin-left: 2%;
    border-radius: 25px;
    display: flex;
    align-items: center;
}
#search input {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    font-family: var(--font);
    font-size: 100%;
    overflow: hidden;
    padding-right: 16px;
}
.search-icon {
    margin:0 5%;
}
