/*reset css*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --height100: 100%;
    --text-color: whitesmoke;
    --font: American Typewriter, fantasy;
    --font-size: 120%;
    --content: 70%;
    --header-nav-padding: 0.5em

}

html {
    width: 100%;

    background: linear-gradient(180deg, black, white);
}
.main-wrapper {
    width: 100%;
    height: 500vh;
}

.header{
    width: 100%;
    height: 6%;
    size: inherit;
    position: fixed;
    top: 0;
    background: black;
}
.content {
    width: 80%;
    height: 100%
}
.footer {
    width: 100%;
    height: 20%;
}
